name: Modoboa installer

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_run:
    branches: [ master ]
    workflows: [Update version file]
    types:
      - completed

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.9, '3.10', '3.11']
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install -r test-requirements.txt
      - name: Run tests
        if: ${{ matrix.python-version != '3.11' }}
        run: |
          python tests.py
      - name: Run tests and coverage
        if: ${{ matrix.python-version == '3.11' }}
        run: |
          coverage run tests.py
      - name: Upload coverage result
        if: ${{ matrix.python-version == '3.11' }}
        uses: actions/upload-artifact@v4
        with:
          name: coverage-results
          path: .coverage

  coverage:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          pip install codecov
      - name: Download coverage results
        uses: actions/download-artifact@v4
        with:
          name: coverage-results
      - name: Report coverage
        run: |
          coverage report
          codecov
